/* *{
    outline: 1px solid red;
} */
body{
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    width: 1280px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}

/* top-menu */


span{
     color: #4BCAFF;
}
h1{
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 63px 0 40px 0;
}
.top-menu{
    background-color:  #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu a{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-menu-imem{
    border: 1px solid white;
    padding: 20px;
}   
.top-menu-imem:hover{
    transform: scale(1.1);
    background-color: #222F3A;
    }

/* main  */

main .conteiner{
    display: flex;
   gap: 52px;
}

.left-menu {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    width: 344px;
}

.left-menu-imem{
    padding:26px 82px 26px 44px ;
}

.left-menu li a{ 
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    white-space: nowrap;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 49px 0;
}

.top-main-image{
    display: flex;
    width: 882px;
    height: 529px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.img{
    width: 320px;
    height: 381px;  
}

.img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.top-main-text{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 37px;
}

.top-main-text p{
    margin-bottom: 13px;
}

.left-menu-imem:hover{
    background-color: #DBDBDB;
    padding-left: 46px;
    transition: 0.3s;
}

/* footer  */

footer li{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.bottom-menu{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 24px;
    padding: 20px 135px 21px 40px;
}
.bootom-page{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    background: rgba(99, 105, 110, 0.48);
}
.copyright{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 22px;
    padding-right: 40px;
}
.bottom-menu-imem a:hover{
    color: #3181A6;
    padding-bottom: 8px;
    border-bottom: 1px solid #3181A6;
}